:root {
    --heading-font-family: "Montserrat", sans-serif;
    --body-font-family: "Mulish", sans-serif;

    --dark-blue: #008bce;
    --light-blue: #29abe2;
    --user-selection: #9bdffc;
    --title-txt: #000;
    --white-txt: #ffffff;
    --body-txt: #494949;
    --body-bg: #ffffff;
    --link-visited: #a05fe1;

    --danger: #da394c;
    --warning: #f0b00d;
    --info: #629ab1;
    --success: #7ec46c;

    --warning-txt: #c18d0a;
    --info-txt: #4f7c8e;
    --success-txt: #659e57;

    --danger-bg: rgba(238, 162, 171, 0.25);
    --warning-bg: rgba(248, 218, 141, 0.25);
    --info-bg: rgba(181, 207, 218, 0.25);
    --success-bg: rgba(194, 227, 186, 0.25);

    --ip-placeholder-txt: #ababab;
    --ip-border: #c5c5c5;
    --ip-bg: #fafafa;
    --ip-border--disabled: #dedede;
    --ip-bg--disabled: #efefef;

    @media (prefers-color-scheme: dark) {
        --user-selection: #006292;
        --body-bg: #222222;
        --title-txt: #ffffff;
        --body-txt: #dbdbdb;

        --warning-txt: #dba00b;
        --info-txt: #6ca9c2;
        --success-txt: #86d173;

        --danger-bg: rgba(186, 127, 134, 0.25);
        --warning-bg: rgba(171, 150, 97, 0.25);
        --info-bg: rgba(138, 157, 166, 0.25);
        --success-bg: rgba(129, 150, 123, 0.25);

        --ip-placeholder-txt: #6d6d6d;
        --ip-border: #555555;
        --ip-bg: #333333;
        --ip-border--disabled: #333333;
        --ip-bg--disabled: #222222;
    }
}

::selection {
    background-color: var(--user-selection);
}

* {
    box-sizing: border-box;
}

body {
    color: var(--body-txt);
    font-family: var(--body-font-family);
    line-height: 150%;

    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-txt);
    font-family: var(--heading-font-family);
    line-height: 120%;
}

h6 {
    text-transform: uppercase;
}

blockquote {
    --blockquote-bg: #f8f8f8;
    --blockquote-border: #d9d9d9;

    margin: 0;
    border-left: 4px solid var(--blockquote-border);
    padding: 12px;
    font-style: italic;
    background-color: var(--blockquote-bg);
}

code {
    --code-bg: #f8f8f8;

    background-color: var(--code-bg);
}

pre {
    code {
        display: block;
        padding: 12px;
    }
}

a {
    color: var(--light-blue);
    text-decoration: none;
    border-bottom: 1px dashed;

    &:hover {
        border-bottom: 1px solid;
    }

    &:visited {
        color: var(--link-visited);
    }
}

@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: var(--user-selection);
    }

    body {
        background-color: var(--body-bg);
        color: var(--body-txt);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--title-txt);
    }

    blockquote {
        --blockquote-bg: #303030;
        --blockquote-border: #4d4d4d;
    }

    code {
        --code-bg: #303030;
    }
}
