/*
Buttons (Dropdown)

Dropdown Button.

Markup:
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>
<br>
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger m-dropdown-btn--primary {{modifier_class}}">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>
<br>
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger m-dropdown-btn--secondary {{modifier_class}}">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>
<br>
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger m-dropdown-btn--danger {{modifier_class}}">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>
<br>
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger m-dropdown-btn--warning {{modifier_class}}">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>
<br>
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger m-dropdown-btn--large {{modifier_class}}">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>
<br>
<div class="m-dropdown-btn">
    <button class="m-dropdown-btn__trigger m-dropdown-btn--compact {{modifier_class}}">Button</button>
    <div class="m-dropdown-btn__menu">
        <a class="m-dropdown-btn__menu-link" href="#">Option 1</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 2</a>
        <a class="m-dropdown-btn__menu-link" href="#">Option 3</a>
    </div>
</div>

:hover - mouse over state
:active - pressed state

Styleguide Buttons.Dropdown
*/

.m-dropdown-btn {
    &__trigger {
        --white-txt: #ffffff;
        --btn-bg: #dedede;
        --btn-bg--hover: #e9e9e9;
        --btn-bg--active: #c5c5c5;
        --btn-box-shadow--hover: rgba(233, 233, 233, 0.4);
        --icon-width: 12px;
        --icon-height: 20px;
        --chevron-background-position: 0;
        --chevron-background-position--hover: 0 -20px;
        --chevron-background-position--active:0 -40px;

        margin: 0;
        border: none;
        padding: 10px 15px;
        color: var(--body-txt);
        font-weight: bold;
        background-color: var(--btn-bg);
        border-radius: 6px;

        &::after {
            content: '';
            display: inline-block;
            width: var(--icon-width);
            height: var(--icon-height);
            margin-inline-start: 10px;
            vertical-align: middle;
            background-image: url('../wicons/sprite-btn-chevron.svg');
            background-repeat: no-repeat;
            background-position: var(--chevron-background-position);
            background-size: calc(2 * (--icon-width)) calc(3 * var(--icon-height));
        }
    }

    &__menu {
        --menu-border: #d9d9d9;

        display: none;
        position: absolute;
        z-index: 2;
        min-width: 189px;
        margin-block-start: 4px;
        border: 2px solid var(--menu-border);
        padding-block: 6px;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

        &-link {
            display: block;
            border-bottom: none;
            padding: 5px 13px;
            color: var(--body-txt);
            text-decoration: none;

            &:nth-child(even) {
                background-color: #f1f1f1;
            }

            &:hover {
                color: #fff;
                background-color: var(--light-blue);
            }
        }
    }

    &__trigger {
        &:hover,
        &.pseudo-class-hover {
            background-color: var(--btn-bg--hover);
            box-shadow: 0px 4px 4px var(--btn-box-shadow--hover);

            &::after {
                background-position: var(--chevron-background-position--hover);
            }
        }

        &:active,
        &.pseudo-class-active {
            background-color: var(--btn-bg--active);

            &::after {
                background-position: var(--chevron-background-position--active);
            }
        }

        &:focus,
        &.pseudo-class-focus {
            background-color: var(--btn-bg--active);

            &::after {
                background-position: var(--chevron-background-position--active);
            }
        }

        &:focus + .m-dropdown-btn__menu {
            display: block;
        }
    }

    &--primary {
        --btn-bg: #528245;
        --btn-bg--hover: #79bd66;
        --btn-bg--active: #35552c;
        --btn-box-shadow--hover: rgba(121, 189, 102, 0.6);
        --chevron-background-position: -12px 0;
        --chevron-background-position--hover: -12px -20px;
        --chevron-background-position--active: -12px -40px;

        color: var(--white-txt);

        &::after {
            background-position: -12px 0;
        }
    }

    &__trigger.m-dropdown-btn--primary + .m-dropdown-btn__menu{
        --menu-border: #528245;
    }

    &--secondary {
        --btn-bg: #4f7c8e;
        --btn-bg--hover: #8bb5c5;
        --btn-bg--active: #3b5d6b;
        --btn-box-shadow--hover: rgba(139, 181, 197, 0.6);
        --chevron-background-position: -12px 0;
        --chevron-background-position--hover: -12px -20px;
        --chevron-background-position--active: -12px -40px;

        color: var(--white-txt);
    }

    &__trigger.m-dropdown-btn--secondary + .m-dropdown-btn__menu{
        --menu-border: #4f7c8e;
    }

    &--danger {
        --btn-bg: #af2e3d;
        --btn-bg--hover: #e46d7b;
        --btn-bg--active: #84222e;
        --btn-box-shadow--hover: rgba(228, 109, 123, 0.6);
        --chevron-background-position: -12px 0;
        --chevron-background-position--hover: -12px -20px;
        --chevron-background-position--active: -12px -40px;

        color: var(--white-txt);
    }

    &__trigger.m-dropdown-btn--danger + .m-dropdown-btn__menu{
        --menu-border: #af2e3d;
    }

    &--warning {
        --btn-bg: #c18d0a;
        --btn-bg--hover: #f4c54d;
        --btn-bg--active: #916a08;
        --btn-box-shadow--hover: rgba(244, 197, 77, 0.6);
        --chevron-background-position: -12px 0;
        --chevron-background-position--hover: -12px -20px;
        --chevron-background-position--active: -12px -40px;

        color: var(--white-txt);
    }

    &__trigger.m-dropdown-btn--warning + .m-dropdown-btn__menu{
        --menu-border: #c18d0a;
    }

    &--large {
        padding: 15px 20px;
    }

    &--compact {
        padding: 5px 15px;
    }
}

@media (prefers-color-scheme: dark) {
    .m-dropdown-btn {
        &__trigger {
            --btn-bg: #3c3c3c;
            --btn-bg--hover: #505050;
            --btn-bg--active: #323232;
            --btn-box-shadow--hover: rgba(92, 92, 92, 0.4);
            --chevron-background-position: -12px 0;
            --chevron-background-position--hover: -12px -20px;
            --chevron-background-position--active: -12px -40px;

                color: var(--body-txt);
        }

        &__trigger + .m-dropdown-btn__menu{
            --menu-border: #3c3c3c;
        }

        &--primary {
            --btn-bg: #528245;
            --btn-bg--hover: #79bd66;
            --btn-bg--active: #35552c;
            --btn-box-shadow--hover: rgba(77, 121, 65, 0.6);
            --chevron-background-position: -12px 0;
            --chevron-background-position--hover: -12px -20px;
            --chevron-background-position--active: -12px -40px;

            color: var(--white-txt);
        }

        &__trigger.m-dropdown-btn--primary + .m-dropdown-btn__menu{
            --menu-border: #528245;
        }

        &--secondary {
            --btn-bg: #4f7c8e;
            --btn-bg--hover: #8bb5c5;
            --btn-bg--active: #3b5d6b;
            --btn-box-shadow--hover: rgba(82, 107, 117, 0.6);
            --chevron-background-position: -12px 0;
            --chevron-background-position--hover: -12px -20px;
            --chevron-background-position--active: -12px -40px;

            color: var(--white-txt);
        }

        &__trigger.m-dropdown-btn--secondary + .m-dropdown-btn__menu{
            --menu-border: #4f7c8e;
        }

        &--danger {
            --btn-bg: #af2e3d;
            --btn-bg--hover: #e46d7b;
            --btn-bg--active: #84222e;
            --btn-box-shadow--hover: rgba(138, 64, 73, 0.6);
            --chevron-background-position: -12px 0;
            --chevron-background-position--hover: -12px -20px;
            --chevron-background-position--active: -12px -40px;

            color: var(--white-txt);
        }

        &__trigger.m-dropdown-btn--danger + .m-dropdown-btn__menu{
            --menu-border: #af2e3d;
        }

        &--warning {
            --btn-bg: #c18d0a;
            --btn-bg--hover: #f4c54d;
            --btn-bg--active: #916a08;
            --btn-box-shadow--hover: rgba(125, 101, 38, 0.6);
            --chevron-background-position: -12px 0;
            --chevron-background-position--hover: -12px -20px;
            --chevron-background-position--active: -12px -40px;

            color: var(--white-txt);
        }

        &__trigger.m-dropdown-btn--warning + .m-dropdown-btn__menu{
            --menu-border: #c18d0a;
        }
    }
}

