:root {
    --heading-font-family: "Montserrat", sans-serif;
    --body-font-family: "Mulish", sans-serif;

    --dark-blue: #008bce;
    --light-blue: #29abe2;
    --user-selection: #9bdffc;
    --title-txt: #000;
    --white-txt: #ffffff;
    --body-txt: #494949;
    --body-bg: #ffffff;
    --link-visited: #a05fe1;

    --danger: #da394c;
    --warning: #f0b00d;
    --info: #629ab1;
    --success: #7ec46c;

    --warning-txt: #c18d0a;
    --info-txt: #4f7c8e;
    --success-txt: #659e57;

    --danger-bg: rgba(238, 162, 171, 0.25);
    --warning-bg: rgba(248, 218, 141, 0.25);
    --info-bg: rgba(181, 207, 218, 0.25);
    --success-bg: rgba(194, 227, 186, 0.25);

    --ip-placeholder-txt: #ababab;
    --ip-border: #c5c5c5;
    --ip-bg: #fafafa;
    --ip-border--disabled: #dedede;
    --ip-bg--disabled: #efefef;

    --dialog-overlay-bg: rgba(0, 0, 0, 0.5);
    --dialog-bg: #ebf5fa;
    --dialog-footer-bg: #fff;

    @media (prefers-color-scheme: dark) {
        --user-selection: #006292;
        --body-bg: #222222;
        --title-txt: #ffffff;
        --body-txt: #dbdbdb;

        --warning-txt: #dba00b;
        --info-txt: #6ca9c2;
        --success-txt: #86d173;

        --danger-bg: rgba(186, 127, 134, 0.25);
        --warning-bg: rgba(171, 150, 97, 0.25);
        --info-bg: rgba(138, 157, 166, 0.25);
        --success-bg: rgba(129, 150, 123, 0.25);

        --ip-placeholder-txt: #6d6d6d;
        --ip-border: #555555;
        --ip-bg: #333333;
        --ip-border--disabled: #333333;
        --ip-bg--disabled: #222222;

        --dialog-overlay-bg: rgba(0, 0, 0, 0.5);
        --dialog-bg: #2d4c5b;
        --dialog-footer-bg: #303030;
    }
}

::selection {
    background-color: var(--user-selection);
}

* {
    box-sizing: border-box;
}

/*
Body text

Any text that appears within the body tag.

Markup:
<p>I think we need to start from scratch. Jazz it up a little bit- use a funky color like purple.</p>
<p><strong>Can you add a bit of pastel pink and baby blue because the purple alone looks too fancy.</strong></p>
<p><em>Can you add a bit of pastel pink and baby blue because the purple alone looks too fancy.</em></p>
<p>I think we need to start from scratch. Jazz it up a little bit- use a funky color like purple.</p>

Styleguide Base.BodyText
*/
body {
    color: var(--body-txt);
    font-family: var(--body-font-family);
    line-height: 150%;

    -webkit-font-smoothing: antialiased;
}

/*
Headings

Headings h1 to h6

Markup:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

Styleguide Base.Headings
*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-txt);
    font-family: var(--heading-font-family);
    line-height: 120%;
}

h6 {
    text-transform: uppercase;
}

/*
Blockquote

For quoting text from another source.

Markup:
<blockquote>Can you add a bit of pastel pink and baby blue because the purple alone looks too fancy.</blockquote>

Styleguide Base.Blockquote
*/
blockquote {
    --blockquote-bg: #f8f8f8;
    --blockquote-border: #d9d9d9;

    margin: 0;
    border-left: 4px solid var(--blockquote-border);
    padding: 12px;
    font-style: italic;
    background-color: var(--blockquote-bg);
}

/*
Code (inline)

Markup:
<p>Install node packages using the command <code>yarn install</code></p>

Styleguide Base.CodeInline
*/
code {
    --code-bg: #f8f8f8;

    background-color: var(--code-bg);
}

/*
Code (block)

Markup:
<pre><code># install django <br>pip install django</code></pre>

Styleguide Base.CodeBlock
*/
pre {
    code {
        display: block;
        padding: 12px;
    }
}

/*
Link

Anchor link with hover and visited state

Markup:
<a class="{{modifier_class}}" href="#">Normal link</a>

:hover - mouse over state
:visited - previously visited link

Styleguide Base.Link
*/
a {
    color: var(--light-blue);
    text-decoration: none;
    border-bottom: 1px dashed;

    &:hover,
    &.pseudo-class-hover {
        border-bottom: 1px solid;
    }

    &:visited,
    &.pseudo-class-visited {
        color: var(--link-visited);
    }
}

@media (prefers-color-scheme: dark) {
    ::selection {
        background-color: var(--user-selection);
    }

    body {
        background-color: var(--body-bg);
        color: var(--body-txt);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--title-txt);
    }

    blockquote {
        --blockquote-bg: #303030;
        --blockquote-border: #4d4d4d;
    }

    code {
        --code-bg: #303030;
    }
}
