/*
Textarea (UI states)

Input textarea user-interaction state.

Markup:
<div class="m-textarea">
    <label class="m-textarea__label" for="default-textarea">Address</label>
    <textarea class="m-textarea__input {{modifier_class}}" id="default-textarea" name="address" placeholder="Placeholder text"
        rows="6"></textarea>
</div>

:focus - an element that received focus

Styleguide Textarea.UIStates
*/
.m-textarea {
    margin-block-end: 20px;

    &__label {
        display: block;
        margin-bottom: 5px;
        line-height: 150%;
        text-transform: uppercase;
        font: {
            size: 13.28px;
            weight: bold;
        }
    }

    &__input {
        width: 100%;
        border: 2px solid var(--ip-border);
        padding: 10px 15px;
        color: var(--body-txt);
        background-color: var(--ip-bg);
        border-radius: 6px;
        outline: none;
        font: {
            size: inherit;
            family: inherit;
        }

        &::-webkit-input-placeholder {
            color: var(--ip-placeholder-txt);
        }

        &:focus,
        &.pseudo-class-focus {
            border: 2px solid var(--light-blue);
            background-color: var(--body-bg);
        }

        &:disabled {
            border: 2px solid var(--ip-border--disabled);
            background-color: var(--ip-bg--disabled);
        }
    }

    &__help {
        margin-block: -2px 3px;
        color: var(--ip-placeholder-txt);
        font-style: italic;
    }

    &__error {
        margin-block: 0px 3px;
        color: var(--danger);
    }

    &__label + &__error {
        // Usual order is label + help + error + input.
        // Sometimes it is label + error + input
        margin-block: -2px 3px;
    }

    &--has-error &__input {
        border: 2px solid var(--danger);
    }
}

/*
Textarea (error)

Input textarea error state.

Markup:
<div class="m-textarea m-textarea--has-error">
    <label class="m-textarea__label" for="error-textarea">Address</label>
    <p class="m-textarea__help">How to correct this text.</p>
    <textarea class="m-textarea__input" id="error-textarea" name="address" rows="6"></textarea>
</div>

Styleguide Textarea.Error
*/

/*
Textarea (disabled)

Input textarea disabled state.

Markup:
<div class="m-textarea">
    <label class="m-textarea__label" for="disabled-textarea">Address</label>
    <textarea class="m-textarea__input" id="disabled-textarea" name="address" placeholder="Disabled area"
        rows="6" disabled></textarea>
</div>

Styleguide Textarea.Disabled
*/
